body{
    margin: 0 auto;
    font-family: Helvetica, Arial, sans-serif;
}

header{
    background-image: url("../assets/img/header-1.jpg");
    background-size: 100%;
    background-position: center;
    width: 80%;
    height: 200px;
    margin: 0 auto;
}

h1{
    font-size: 2.5em;
    text-shadow: #ffffff 2px 2px;
    margin: 10px;
    color: #000000;
}

h2{
    text-align: center;
    background: #5FA199;
    color: #fff;
    text-shadow: #000000 2px 2px;
    font-size: 1.5em;
    padding: 10px;
    margin: 0 auto;
    position: relative;
    top: 140px;
    display: block;
}

main{
    width: 80%;
    margin: 50px auto;
}

nav{
    width: 15%;
    display: inline-block;
    position: relative;
}

li{
    list-style: none;
}

.menu{
    display: block;
    margin: 10px 0;
    padding: 10px 10px;
    color: #5FA199;
    text-decoration: none;
}

.menu:hover{
    color: #fff;
    background: #5FA199;
    text-decoration: underline;
}

section{
    width: 65%;
    display: inline-block;
    margin-left: 20px;
}

.logo{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-top: 50px;
    position: absolute;
    left: 70%;
    top: 130px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 24px;
    box-shadow: 2px 2px 6px #424242
}

footer{
    height: 10px;
    background: #5FA199;
    width: 80%;
    margin: 0 auto;
}